/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #e3e3e3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */

header {
  color: #e6e600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.logo {
  text-align: center;
}

.header-links,
.social-links {
  display: flex;
  align-items: center;
}

.header-links li,
.social-links li {
  margin: 0 10px;
}

.header-links li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.header-links li a,
.social-links li a {
  text-decoration: none;
  color: #e3e3e3;
  font-size: 18px;
  transition: color 0.3s ease;
}

.header-links li a:hover,
.social-links li a:hover {
  color: #666;
}

/* Section styles */

.home-description {
   margin-left: 8%;
   margin-top: 15%;
}

.home-description h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;    
}

.home-description p{
    color: #555;
    line-height: 22px;
}

.home-description a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.logo img {
  max-width: 126px;
  height: auto;
}

.social-links li {
  display: flex;
  align-items: center;
}

.social-links li a {
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.social-links li a:hover {
  transform: scale(1.1);
}

.social-links li a img {
  max-width: 50px;
  height: auto;
  margin-right: 5px;
}

footer {
  background-color: #e3e3e3;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-top: 10px;
}

.social-links li {
  margin: 0 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a {
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.social-links li a:hover {
  transform: scale(1.1);
}

.social-links li a img {
  max-width: 30px;
  height: auto;
  margin-right: 5px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}

.skills-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.skill {
  width: 100%;
  margin-bottom: 20px;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-bar {
  background-color: #333;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  background-color: #db1717;
  height: 100%;
  transition: width 0.3s ease;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
}

a {
  color: #e73030;
  transition: color 0.3s ease;
}

a:hover {
  color: #666;
}
